<p>
    do you want to delete the Task of the Worker "{{item}}""
</p>

<form  method="POST" action="{% url 'delete'  item.id  %}">

    {% csrf_token %}


    <a href="{url 'task-page' %}">Cancel </a>

    <input type="submit" name="confirm">

</form>