<!DOCTYPE html>
<html>
<head>
  {% load static %} 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

</head>
<body>
<div class="wrapper">
  <!-- Navbar -->
    <nav class=" navbar navbar-expand-md navbar-light navbar-lightblue " id="sidebar">
        <div class="container">
            <a href="{% static 'dist/img/logo.jpg' %}" class="navbar-brand">
                <img src="{% static 'dist/img/logo.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="50px" width="55px">

            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse" >
                <!-- Left navbar links -->
                <ul class="navbar-nav" >

                    {% if request.user.is_staff %}
                    <li class="nav-item" >

                        <a href="{% url 'home' %}" class="style_nav nav-link nav_active" > <i class="fas fa-home"></i> Dashboard</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">

                      <li class="nav-item">

                        <a href="{% url 'pasal-page' %}" class=" nav-link " >  <i class="fas fa-store"></i> Pasal</a>
                    </li>
                   
                    <li class="nav-item">

                        <a href="{% url 'task-page' %}" class="nav-link" > <i class="fas fa-tasks"></i> Task</a>
                    </li>
                    <li class="nav-item">

                        <a href="{% url 'notification-page' %}" class="nav-link" > <i class="fas fa-bell"></i> Notification</a>
                    </li>

                    <li class="nav-item">

                      <a href="{% url 'logout' %}" class="nav-link">  Logout</a>

                    </li>

                </ul>


            </div>

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!-- Messages Dropdown Menu -->

                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" >
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                        </a>
                        
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                        </a>
                       
                    </div>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link" data-toggle="dropdown" href="#" >
                        Hi,{{request.user}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">

                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Profile
                                    </h3>


                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">

                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Staff

                                    </h3>

                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">

                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Logout

                                    </h3>


                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>
               
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}