{% extends 'layout.html' %}
{% block title %}
Task
{% endblock %}

{% block content %}

{% load static %}
<!--   This is main content-->

<div class="content">
    <div class="container-fluid">
       <div class="row">
           <div class="side-nav col-2" style="margin-top: 20px">
    <div class="card card-primary ">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>

       <!--side bar ho yo -->
        <aside class="main-sidebar sidebar-light-lightblue elevation-1">

            <!-- Sidebar -->
            <div class="sidebar" >
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                
                        <li class="nav-item"><a class="nav-link active" href="#servicing" data-toggle="tab">

                            <p> Servicing</p></a>
                        </li>
                 
                        <li class="nav-item"><a class="nav-link" href="#product_delivery" data-toggle="tab">

                            <p> Product Delivery</p></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#due_collection" data-toggle="tab">

                            <p>Due Collection</p></a>
                        </li>
                    </ul>


                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>
    <!-- Main Sidebar end -->

</div>
<!--            right side ko content-->
<div class="col-md-10">
                          
    <div class="card-body">

        <div class="tab-content">
          
            <!-- Servicing table -->
            <div class="tab-pane active" id="servicing">

                <div class="col-12">
<!--                            table of List of Taskd-->
                   <div class="card">
                    
  <div class="card-header">
   
    <h3 class="card-title">Servicing</h3>

    <div class="card-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

        <div class="input-group-append">
          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
         
          <th>Customer Name</th>
          <th>Product</th>
          <th>Action</th>
          <th>Worker Name</th>
          <th>View | Edit | Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="badge bg-success">Approved</span></td>
          <td>Name 1</td>
           <td>
               <div class="btn-group btn-group-sm">
                   <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                   <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                   <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
               </div>
                    </td>
        </tr>
        <tr>
        
          <td>Alexander Pierce</td>
          <td>11-7-2014</td>
          <td><span class="badge bg-danger">Pending</span></td>
          <td>Name 2</td>
           <td>
               <div class="btn-group btn-group-sm">
                   <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                   <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                   <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
               </div>
                    </td>
        </tr>
        <tr>
        
          <td>Bob Doe</td>
          <td>11-7-2014</td>
          <td><span class="badge bg-success">Approved</span></td>
          <td>Name 3</td>
           <td>
               <div class="btn-group btn-group-sm">
                   <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                   <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                   <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
               </div>
                    </td>
        </tr>
        <tr>
       
          <td>Mike Doe</td>
          <td>11-7-2014</td>
          <td><span class="badge bg-success">Approved</span></td>
          <td>Name 4</td>
           <td>
               <div class="btn-group btn-group-sm">
                   <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                   <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                   <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
               </div>
                    </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item"><a class="page-link" href="#">«</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">»</a></li>
    </ul>
  </div>
  <!-- /.card-body -->
</div>
                    <!-- /.end table -->
                </div>
            </div>
<!--                        Here is the Product Delivery-->
            <div class="tab-pane" id="product_delivery">

                <div class="col-12">
<!--                            table of List of Taskd-->
                 <div class="card">
  <div class="card-header">
    <h3 class="card-title">Product Delivery</h3>
  </div>
  <!-- /.card-header -->
                     <div class="card-body table-responsive p-0">
                         <table class="table table-hover text-nowrap">
                             <thead>
                             <tr>

                                 <th >S.N</th>
                                 <th>Name</th>
                                 <th>Product</th>
                                 <th>Progress</th>
                                 <th>Label</th>
                                 <th>View | Edit | Delete</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <td>1.</td>
                                 <td>Update software</td>
                                 <td>Product 1</td>
                                 <td>
                                     <div class="progress progress-xs">
                                         <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                     </div>
                                 </td>
                                 <td><span class="badge bg-danger">55%</span></td>
                                 <td>
                                     <div class="btn-group btn-group-sm">
                                         <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                                         <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                                         <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
                                     </div>
                                 </td>
                             </tr>
                             <tr>
                                 <td>2.</td>
                                 <td>Clean database</td>
                                 <td>Product 1</td>
                                 <td>
                                     <div class="progress progress-xs">
                                         <div class="progress-bar bg-warning" style="width: 70%"></div>
                                     </div>
                                 </td>
                                 <td><span class="badge bg-warning">70%</span></td>
                                 <td>
                                     <div class="btn-group btn-group-sm">
                                         <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                                         <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                                         <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
                                     </div>
                                 </td>
                             </tr>
                             </tbody>
                         </table>
                     </div>
                     <div class="card-footer clearfix">
                         <ul class="pagination pagination-sm m-0 float-right">
                             <li class="page-item"><a class="page-link" href="#">«</a></li>
                             <li class="page-item"><a class="page-link" href="#">1</a></li>
                             <li class="page-item"><a class="page-link" href="#">2</a></li>
                             <li class="page-item"><a class="page-link" href="#">3</a></li>
                             <li class="page-item"><a class="page-link" href="#">»</a></li>
                         </ul>
                     </div>
  <!-- /.card-body -->
</div>
                    <!-- /.end table -->
                </div>
            </div>
<!--                        Due Collection-->
            <div class="tab-pane" id="due_collection">

                <div class="col-12">
<!--                            table of List of Taskd-->
                     <div class="card">
  <div class="card-header">
  
    <h3 class="card-title">Due Collection</h3>
  </div>
  <!-- /.card-header -->
                         <div class="card-body table-responsive p-0">
                             <table class="table table-hover text-nowrap">
                                 <thead>
                                 <tr>

                                     <th >S.N</th>
                                     <th>Name</th>
                                     <th>Product</th>
                                     <th>Due Date</th>
                                     <th>Progress</th>
                                     <th>Label</th>
                                     <th>View | Edit | Delete</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr>
                                     <td>1.</td>
                                     <td>Update software</td>
                                     <td>Product 1</td>
                                     <td>2020-01-12</td>
                                     <td>
                                         <div class="progress progress-xs">
                                             <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                         </div>
                                     </td>
                                     <td><span class="badge bg-danger">55%</span></td>
                                     <td>
                                         <div class="btn-group btn-group-sm">
                                             <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                                             <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                                             <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
                                         </div>
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>2.</td>
                                     <td>Clean database</td>
                                     <td>Product 1</td>
                                     <td>2020-01-12</td>
                                     <td>
                                         <div class="progress progress-xs">
                                             <div class="progress-bar bg-warning" style="width: 70%"></div>
                                         </div>
                                     </td>
                                     <td><span class="badge bg-warning">70%</span></td>
                                     <td>
                                         <div class="btn-group btn-group-sm">
                                             <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                                             <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                                             <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
                                         </div>
                                     </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                         <div class="card-footer clearfix">
                             <ul class="pagination pagination-sm m-0 float-right">
                                 <li class="page-item"><a class="page-link" href="#">«</a></li>
                                 <li class="page-item"><a class="page-link" href="#">1</a></li>
                                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                                 <li class="page-item"><a class="page-link" href="#">»</a></li>
                             </ul>
                         </div>
  <!-- /.card-body -->
</div>
                    <!-- /.end table -->
                </div>
            </div>
        </div>
     
    </div> 
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
</div>

<!-- end of main content-->
</div>

<!-- jQuery -->

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}