{% extends 'layout.html' %}
{% block title %}
Pasal
{% endblock %}

{% block content %}

{% load static %}

    <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="side-nav col-2" style="margin-top: 20px">
              
                <div class="card card-primary ">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    <aside class="main-sidebar sidebar-light-lightblue elevation-1">

                        <!-- Sidebar -->
                        <div class="sidebar">
                            <!-- Sidebar Menu -->
                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                                    <li class="nav-item"><a class="nav-link active" href="#list_goods" data-toggle="tab">

                                        <p> All goods</p></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link " href="#transaction" data-toggle="tab">

                                        <p>Sold Goods</p></a>

                                    </li>

                                    <li class="nav-item"><a class="nav-link" href="#form" data-toggle="tab">

                                        <p>Sell</p></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#add" data-toggle="tab">

                                        <p>    Add Goods</p></a>
                                    </li>
                                </ul>


                            </nav>
                            <!-- /.sidebar-menu -->
                        </div>
                        <!-- /.sidebar -->
                    </aside>
                </div>
                <!-- Main Sidebar Container -->

            </div>
            <div class="col-md-10">
                <div class="card-body">

                    <div class="tab-content">
<!--                       list of all goods-->
                        <div class="tab-pane " id="transaction">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">Products</h3>
                                        <div class="card-tools">
                                            <a href="#" class="btn btn-tool btn-sm">
                                                <i class="fas fa-download"></i>
                                            </a>
                                            <a href="#" class="btn btn-tool btn-sm">
                                                <i class="fas fa-bars"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Sales</th>
                                                <th>More</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <img src="dist/img/logo.jpg" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                    Some Product
                                                </td>
                                                <td>$13 USD</td>
                                                <td>
                                                    <small class="text-success mr-1">
                                                        <i class="fas fa-arrow-up"></i>
                                                        12%
                                                    </small>
                                                    12,000 Sold
                                                </td>
                                                <td>
                                                    <a href="#" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="dist/img/logo.jpg" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                    Another Product
                                                </td>
                                                <td>$29 USD</td>
                                                <td>
                                                    <small class="text-warning mr-1">
                                                        <i class="fas fa-arrow-down"></i>
                                                        0.5%
                                                    </small>
                                                    123,234 Sold
                                                </td>
                                                <td>
                                                    <a href="#" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="dist/img/logo.jpg" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                    Amazing Product
                                                </td>
                                                <td>$1,230 USD</td>
                                                <td>
                                                    <small class="text-danger mr-1">
                                                        <i class="fas fa-arrow-down"></i>
                                                        3%
                                                    </small>
                                                    198 Sold
                                                </td>
                                                <td>
                                                    <a href="#" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="dist/img/logo.jpg" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                    Perfect Item

                                                </td>
                                                <td>$199 USD</td>
                                                <td>
                                                    <small class="text-success mr-1">
                                                        <i class="fas fa-arrow-up"></i>
                                                        63%
                                                    </small>
                                                    87 Sold
                                                </td>
                                                <td>
                                                    <a href="#" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
 
<!-- this is the form where you can sell the products-->
                        <div class="tab-pane" id="form">
                           <div class="card">
                          	 <div class="card-header">
                          	 	 <div>
                          	     <h4>Sell Task</h4>
                          	 	 </div>
                          	 </div>
                           	 <div class="card-body">
                           	 	    <form class="form-horizontal" action="" method="">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPhone" placeholder="Phone" name="phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-2 col-form-label">Product</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Product" name="peoduct">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputExperience1" class="col-sm-2 col-form-label">Amount</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputExperience1" placeholder="Amount" name="amount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPaidAmount" class="col-sm-2 col-form-label">Paid Amount</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputPaidAmount" placeholder="Paid Amount" name="paid_amount">
                                    </div>
                                </div>
                                <!--                       Due date-->
                                <div class="form-group row">
                                    <label for="inputDate" class="col-sm-2 col-form-label">Due Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="inputDate" placeholder="Due date" name="date">
                                    </div>
                                </div>
                                <!--                       end Due date-->
                                <!--                       -->
                                <div class="form-group row">
                                    <label for="remarks" class="col-sm-2 col-form-label">Remarks</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="remarks" placeholder="Remarks" name="remarks">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-secondary">Submit</button>
                                    </div>
                                </div>
                            </form>
                           	 </div>
                           </div>
                        
                        </div>
                        <!-- ENd of the sell form -->
                        <div class="tab-pane active" id="list_goods">

                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">List of goods </h3>

                                        <div class="card-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover text-nowrap">
                                            <thead>
                                               
                                            <tr>

                                                <th>Product</th>
                                                <th>Amount</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Edit | Delete</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in goods %}
                                            <tr>

                                                <td>{{i.productname}}</td>
                                                <td>{{i.amount}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td>{{totals}}</td>
                                              

                                                <td class=" py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="#" class="btn btn-info"><i class="fas fa-pen"></i></a>
                                                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                        <div class="card-footer clearfix">
                                            <ul class="pagination pagination-sm m-0 float-right">
                                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
<!--                        this is the form where you can add products-->
                        <div class="tab-pane" id="add">
                           <div class="card">
                           	 <div class="card-body">
                           	 	   <form class="form-horizontal" method="POST">
                                    {% csrf_token %}

                                <div class="form-group row">
                                    <label for="product1" class="col-sm-2 col-form-label">Product</label>
                                    <div class="col-sm-10">
                                      {{form.productname}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="amount1" class="col-sm-2 col-form-label">Amount</label>
                                    <div class="col-sm-10">
                                      {{form.amount}}
                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="amount1" class="col-sm-2 col-form-label">Quantity</label>
                                    <div class="col-sm-10">
                                      {{form.quantity}}
                                        
                                    </div>
                                </div>
                                
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                           	 </div>
                           </div>
                         
                        </div>
<!--                        end of the product form-->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    </div>
</div>

<!-- jQuery -->


<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>

{% endblock %}