{% extends 'layout.html' %}
{% block title %}
Task
{% endblock %}

{% block content %}

{% load static %}


 <!--   This is main content-->
         
 <div class="content">


    <div class="container-fluid">
<div class="row">
    <div class="side-nav col-2" style="margin-top: 20px">
        <div class="card card-primary ">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>

           <!--side bar ho yo -->
            <aside class="main-sidebar sidebar-light-lightblue elevation-1">

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item"><a class="nav-link active" href="#list_goods" data-toggle="tab">

                                <p> List of Task</p></a>
                            </li>
                     
                            <li class="nav-item"><a class="nav-link" href="#add" data-toggle="tab">

                                <p>  Add Tasks</p></a>
                            </li>
                        </ul>


                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
        </div>
        <!-- Main Sidebar end -->

    </div>
<!--            right side ko content-->
    <div class="col-md-10">
        <div class="card-body">

            <div class="tab-content">
              
                <!-- /.tab-pane -->
                <div class="tab-pane active" id="list_goods">

                    <div class="col-12">
<!--                            table of List of Taskd-->
                       <div class="card">
      <div class="card-header">
        <h3 class="card-title">List of Task</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
             
              <th>Custumer</th>
              <th>Task</th>
              <th>Status</th>
              <th>Assigned To</th>
              <th> Edit | Delete</th>
              <th>Assigned By</th>

            </tr>
          </thead>
          <tbody>
            {% for i in tasks %}
                <tr>
            
              <td>{{i.custumername}}</td>
              <td>{{i.task}}</td>
              <td><span class="badge bg-success">Approved</span></td>
              <td>{{i.assignedto}} </td>
              <td>
                   <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a> -->
                   <a href="{% url 'update' i.id %}" class="btn btn-info btn-sm"><i class="fas fa-pen"></i></a>
                   <a href="{% url 'delete' i.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                   </td>
              <td>{{i.assignedby}}</td>

            {% endfor %}
              </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
                        <!-- /.end table -->
                    </div>
                </div>
<!--                        Here is the from for new Task-->
                <div class="tab-pane col-12" id="add">
                  <div class="card card-cyan">
       <div class="card-header">
        <h3 class="card-title">Add Task</h3>
      </div>
      <div class="card-body">
        <!-- Customer name -->
        
         
          <form method="POST">

            {% csrf_token %}
           
           
           {{form.as_p}}
      
       <input type="submit" name="Submit" value="Submit" class="btn btn-primary">
       </form>
      </div>
  
    </div>
                </div>
            </div>
         
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div>

</div>    

<!--   end-->
</div>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>





{% endblock %}