
{% extends 'layout.html' %}

{% block content %}

	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable();
			} );
	</script>
	
	<table id="example" class="table gcnhg display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
				<th>ID</th>
                		<th>Name</th>
				<th>Category</th>
				<th>Quantity</th>
            		</tr>
        	</thead>
        	<tbody>
    		{% for goods in goods %}
		<tr>
        		<td>{{ goods.goods_id }}</td><td>{{ goods.name }}</a></td><td>{{ goods.category.category }}</td><td>{{ goods.quantity }}</td></a>
	  	</tr>    
	{% endfor %}
		</tbody>
{% endblock %}