{% extends 'layout.html'  %}

{% block content %}
{% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="side-nav col-2" style="margin-top: 20px">
                <div class="card card-primary ">
                  <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        
                   <!--side bar ho yo -->
                    <aside class="main-sidebar sidebar-light-lightblue elevation-1">
        
                        <!-- Sidebar -->
                        <div class="sidebar">
                            <!-- Sidebar Menu -->
                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                                    <li class="nav-item"><a class="nav-link active" href="#customer_details" data-toggle="tab">
                                        <i class="fas fa-user"></i>
                                        <p> Customer Details</p></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link " href="#history" data-toggle="tab">
                                        <i class="fas fa-history"></i>
                                        <p>Transition History</p></a>

                                    </li>

                                   
                                </ul>


                            </nav>
                            <!-- /.sidebar-menu -->
                        </div>
                        <!-- /.sidebar -->
                    </aside>
                </div>
                <!-- Main Sidebar end -->
        
            </div>
         <div class="col-md-10">
            <div class="card-body">

                <div class="tab-content">

                    <!-- ENd of the sell form -->
                    <div class="tab-pane active" id="customer_details">

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Customer Details</h3>

                                    <div class="card-tools">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>View | Edit | Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td>Test1</td>
                                            <td> Dang
                                            </td>
                                            <td>12345678</td>
                                            <td> test@gmail.com</td>
                                            <td>
                                                <div class="btn-group btn-group-sm">
                                                    <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                                                    <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                                                    <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
<!--                        this is the form where you can add products-->
               <div class="tab-pane" id="history">
                   <div class="col-12">
                       <div class="card">

                           <div class="card-header">
                             <h3 class="card-title">Customer Details</h3>
                               <div class="col-sm-6 offset-sm-6">
                                   <div class="input-group input-group-sm">
                                       <p> From :- </p>  <input type="date" name="table_search" class="form-control ">
                                       <p> To :- </p><input type="date" name="table_search" class="form-control ">


                                   </div>
                               </div>

                           </div>
                           <!-- /.card-header -->
                           <div class="card-body table-responsive p-0">
                               <table class="table table-hover text-nowrap">
                                   <thead>
                                   <tr>
                                       <th>Name</th>
                                       <th>Product</th>
                                       <th>Phone</th>
                                       <th>Date</th>
                                       <th>View | Edit |Delete</th>
                                   </tr>
                                   </thead>
                                   <tbody>

                                   <tr>
                                       <td>Test1</td>
                                       <td> Dang
                                       </td>
                                       <td>12345678</td>
                                       <td> 2020-12-20</td>
                                       <td>
                                           <div class="btn-group btn-group-sm">
                                           <a href="#" class="btn btn-primary "><i class="fas fa-eye"></i></a>
                                           <a href="#" class="btn btn-info "><i class="fas fa-pen"></i></a>
                                           <a href="#" class="btn btn-danger "><i class="fas fa-trash"></i></a>
                                           </div>
                                       </td>
                                   </tr>

                                   </tbody>
                               </table>

                           </div>
                           <div class="card-footer clearfix">
                               <ul class="pagination pagination-sm m-0 float-right">
                                   <li class="page-item"><a class="page-link" href="#">«</a></li>
                                   <li class="page-item"><a class="page-link" href="#">1</a></li>
                                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                                   <li class="page-item"><a class="page-link" href="#">»</a></li>
                               </ul>
                           </div>
                           <!-- /.card-body -->
                       </div>
                       <!-- /.card -->
                   </div>

<!--                        end of the product form-->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
                <!-- /.customer Details -->
                 <!-- /.End Customer Details --> 
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</div>
<!-- /.row -->
</div>

</div>    

<!--   end-->
</div>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>

{% endblock %}