{% extends 'layout.html' %}
{% block title %}
Pasal
{% endblock %}

{% block content %}

{% load static %}
<P>
<div class="container">
<div class="tab-pane">
    <div class="card">
         <div class="card-body">
                <form class="form-horizontal" method="POST">
             {% csrf_token %}

         <div class="form-group row">
             <label for="product1" class="col-sm-2 col-form-label">Product</label>
             <div class="col-sm-10">
               {{form.productname}}
             </div>
         </div>
         <div class="form-group row">
             <label for="amount1" class="col-sm-2 col-form-label">Amount</label>
             <div class="col-sm-10">
               {{form.amount}}
                 
             </div>
         </div>
         <div class="form-group row">
             <label for="amount1" class="col-sm-2 col-form-label">Quantity</label>
             <div class="col-sm-10">
               {{form.quantity}}
                 
             </div>
         </div>
         
         </div>
         <div class="form-group row">
             <div class="offset-sm-2 col-sm-10">
                 <button type="submit" class="btn btn-danger">Submit</button>
             </div>
         </div>

         


     </form>
         </div>
    </div>
  
 </div>
</div>
</P>
 {% endblock %}