{% extends 'layout.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% load static %}
<!--   This is main content-->
{% load static %}
<div class="content">
    <div class="container-fluid">
       <div class="row">
        <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="dashboard">
                      <div class="content">
                           <div class="container">
                               <div class="alert alert-info" role="alert">
                                A sample list of details
                           </div>
                                <div class="row">
                                     <div class="col-12 col-sm-6 col-md-3">
                     <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-briefcase"></i></span>

                  <div class="info-box-content">
                     <span class="info-box-text">Worker</span>
                        <span class="info-box-number">
                          {{worker}}
            </span>
          </div>
          <!-- /.info-box-content -->
                                     </div>
        <!-- /.info-box -->
      </div>
                                   <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fab fa-product-hunt"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">All Goods</span>
            <span class="info-box-number">{{goods}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
                                   <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Sold Goods</span>
          
            <span class="info-box-number">{{sold}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
                                   <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Customer</span>
            <span class="info-box-number">{{custumer}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
                                </div>
                           </div>
                      </div>
               
              </div>
           
            </div>
          
          </div>
         <div class="container">
              <div class="row">
                   <div class="col-4 ">
                      
                       <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title"> Total Amount</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;" width="715" height="312" class="chartjs-render-monitor"></canvas>
          </div>
          <!-- /.card-body -->

        </div>
                    <div class="alert alert-info" role="alert">
                               Total Goods Sold
                           </div>
                   </div> 
                   <div class="col-4 ">
                      
                       <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Product</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;" width="715" height="312" class="chartjs-render-monitor"></canvas>
            
          </div>
           
          <!-- /.card-body -->
        </div>
              <div class="alert alert-info" role="alert">
                              Total Task Completed
                           </div>	 	 
                   </div> 
                    <div class="col-4 ">
                      
                       <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title"> Customers</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;" width="715" height="312" class="chartjs-render-monitor"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
                    <div class="alert alert-danger" role="alert">
                              New Customer
                           </div>	 
                   </div> 
                  
                   
              </div>
         </div>
       </div>
    </div>
</div>

<!-- end of main content-->
</div>




{% endblock %}

