{% extends 'layout.html' %}
{% block title %}
Pasal
{% endblock %}

{% block content %}


{% load static %}




    <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="side-nav col-2" style="margin-top: 20px">
              
                <div class="card card-primary ">
                    <!-- <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a> -->
                    <aside class="main-sidebar sidebar-light-lightblue elevation-1">

                        <!-- Sidebar -->
                        <div class="sidebar">
                            <!-- Sidebar Menu -->
                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                                    <li class="nav-item"><a class="nav-link active" href="#list_goods" data-toggle="tab">

                                        <p> All goods</p></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link " href="#transaction" data-toggle="tab">

                                        <p>Sold Goods</p></a>

                                    </li>

                                    <li class="nav-item"><a class="nav-link" href="{% url 'test' %}">

                                        <p>Sell</p></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'add-goods' %}">

                                        <p>    Add Goods</p></a>
                                    </li>
                                </ul>


                            </nav>
                            <!-- /.sidebar-menu -->
                        </div>
                        <!-- /.sidebar -->
                    </aside>
                </div>
                <!-- Main Sidebar Container -->

            </div>
            <div class="col-md-10">
                <div class="card-body">

                    <div class="tab-content">
<!--                       list of all goods-->
                        <div class="tab-pane " id="transaction">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">Products</h3>
                                        
                                       
                                    </div>
                                  
                                    <div class="card-body table-responsive p-0">
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                    $('#table').DataTable({
                                                        "lengthChange": false
                                                    });
                                            } );
                                        </script> 
                                        <table  id="table" class="table table-striped table-valign-middle">
                                            
                                            <thead class="thead-light">

                                            <tr>
                                                <th>Custumer Name</th>
                                                <th>ProductName</th>
                                                <th>Amount</th>
                                                <th>Paid Amount</th>
                                                <th>Due Amount</th>
                                                <th>Assigned Amount</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in sells %}
                                            <tr>
                                                <td>
                                                    {{i.custumername}}
                                                </td>
                                                <td>{{i.productname}}</td>
                                                <td>
                                                    {{i.amount}}
                                                </td>
                                                <td>
                                                   {{i.paidamount}}
                                                </td>
                                                <td>
                                                    {{i.dueamount}}
                                                </td>
                                                <td>
                                                    {{i.assignedby}}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
 
<!-- this is the form where you can sell the products-->

                        <!-- ENd of the sell form -->

                     

                        <div class="tab-pane active" id="list_goods">

                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">List of goods </h3>

                                        
                                    </div>
                                    <!-- /.card-header -->
                                 
                                    
                                    <div class="card-body table-responsive p-0">

                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                    $('#example').DataTable({
                                                        "lengthChange": false
                                                    });
                                            } );
                                        </script> 
                                      
                                        
                                        <table  id="example" class=" table table-bordered display" >
                                            <thead class="thead-light">
                                               
                                            <tr>

                                                <th>Product</th>
                                                <th>Amount</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Edit | Delete</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in goods %}
                                            <tr>

                                                <td>{{i.productname}}</td>
                                                <td>{{i.amount}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td>{{i.total}}</td>
                                              

                                                <td class=" py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="#" class="btn btn-info"><i class="fas fa-pen"></i></a>
                                                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                     
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
<!--                        this is the form where you can add products-->

<!--                        end of the product form-->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    </div>
</div>

<!-- jQuery -->


<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>

{% endblock %}