{% extends 'layout.html' %}
{% block title %}
Pasal
{% endblock %}

{% block content %}

{% load static %}



<div class="container">


<p>
<div class="tab-pane" id="form">
    <div class="card">
        <div class="card-header">
             <div>
            <h4>Sell Task</h4>
             </div>
        </div>
         <div class="card-body">
                 <form class="form-horizontal"  method="POST">
                     {% csrf_token %}
         <div class="form-group row">
             <label  class="col-sm-2 col-form-label">CustumerName</label>
             <div class="col-sm-10">
                 {{form.custumername}}
             </div>
         </div>
         <div class="form-group row">
             <label class="col-sm-2 col-form-label">ProductName</label>
             <div class="col-sm-10">
                {{form.productname}}
             </div>
         </div>
         <div class="form-group row">
             <label class="col-sm-2 col-form-label">Amount</label>
             <div class="col-sm-10">
                {{form.amount}}
             </div>
         </div>
         <div class="form-group row">
             <label class="col-sm-2 col-form-label">Paid Amount</label>
             <div class="col-sm-10">
                {{form.paidamount}}
             </div>
         </div>
     
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Assigned by</label>
            <div class="col-sm-10">
               {{form.assignedby}}
            </div>
        </div>
 

         <div class="form-group row">
             <div class="offset-sm-2 col-sm-10">
                 <button type="submit" class="btn btn-secondary">Submit</button>
             </div>
         </div>
     </form>
         </div>
    </div>
 
 </div>
</div>
</p>
 <!-- ENd of the sell form -->
 {% endblock %}