﻿{% extends 'layout.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<!--   This is main content-->
{% load static %}
<div class="content">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">User Name</h3>

                    
        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

               
            </div>
            <div class="col-md-9">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#about" data-toggle="tab">About</a></li>
                    
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        <!-- Post -->
                        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>User Id</label>
                              </div>
                              <div class="col-md-6">
                                  <p>Kshiti123</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Name</label>
                              </div>
                              <div class="col-md-6">
                                  <p>Kshiti Ghelani</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Email</label>
                              </div>
                              <div class="col-md-6">
                                  <p>kshitighelani@gmail.com</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Phone</label>
                              </div>
                              <div class="col-md-6">
                                  <p>123 456 7890</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Profession</label>
                              </div>
                              <div class="col-md-6">
                                  <p>Web Developer and Designer</p>
                              </div>
                          </div>
              </div>
                        <!-- /.post -->
    
    
                     
                     
                     
                      </div>
                     
                        
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
              </div>
        
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</div>
<!--   This is main content-->



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}