<!DOCTYPE html>
<html>
<head>
  {% load static%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Worker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

</head>
<body>
<div class="wrapper">
  <nav class=" navbar navbar-expand-md navbar-light navbar-lightblue ">
    <div class="container">
      <a href="{% static 'dist/img/logo.jpg' %}" class="navbar-brand">
        <img src="{% static 'dist/img/logo.jpg' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="50px" width="55px">

    </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse" >
            <!-- Left navbar links -->
            <ul class="navbar-nav" >
              <br>
                <li class="nav-item nav_active" >

                    <a href="{% url 'worker-page' %}" class="style_nav nav-link" >  Servicing</a>
                </li>

                <li class="nav-item  " >

                    <a href="{% url 'newconnection' %}" class=" style_nav nav-link" >   New Connection</a>
                </li>
              
                
                <li class="nav-item">

                    <a href="{% url 'logout' %}" class="nav-link">  Logout</a>
                </li>
            </ul>


        </div>

        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <!-- Messages Dropdown Menu -->

          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="#" >
                  <i class="far fa-bell"></i>
                  <span class="badge badge-warning navbar-badge">15</span>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <span class="dropdown-header">15 Notifications</span>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                      <i class="fas fa-envelope mr-2"></i> 4 new messages
                      <span class="float-right text-muted text-sm">3 mins</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                      <i class="fas fa-users mr-2"></i> 8 friend requests
                      <span class="float-right text-muted text-sm">12 hours</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                      <i class="fas fa-file mr-2"></i> 3 new reports
                      <span class="float-right text-muted text-sm">2 days</span>
                  </a>
                 
              </div>
          </li>
          <li class="nav-item dropdown">

              <a class="nav-link" data-toggle="dropdown" href="#" >
                  Hi,{{request.user}}
                  <i class="fas fa-caret-down"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <a href="{% url 'profile' %}" class="dropdown-item">
                      <!-- Message Start -->
                      <div class="media">

                          <div class="media-body">
                              <h3 class="dropdown-item-title">
                                  Profile
                              </h3>


                          </div>
                      </div>
                      <!-- Message End -->
                  </a>
            
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item">
                      <!-- Message Start -->
                      <div class="media">

                          <div class="media-body">
                              <h3 class="dropdown-item-title">
                                  Logout

                              </h3>


                          </div>
                      </div>
                      <!-- Message End -->
                  </a>
                  <div class="dropdown-divider"></div>

              </div>
          </li>
         
      </ul>
      
    </div>
</nav>




              <div class="content">
                <div class="container-fluid">
                   <div class="row">
                       <div class="side-nav col-2" style="margin-top: 20px">
                <div class="card card-primary ">
                   <!--side bar ho yo -->
                   <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>

                    <aside class="main-sidebar sidebar-light-lightblue elevation-1">

                        <!-- Sidebar -->
                        <div class="sidebar" >
                            <!-- Sidebar Menu -->
                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            
                                    <li class="nav-item"><a class="nav-link active" href="#all" data-toggle="tab">

                                        <p> All</p></a>
                                    </li>
                             
                                    <li class="nav-item"><a class="nav-link" href="#completed" data-toggle="tab">

                                        <p> Completed</p></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#pending" data-toggle="tab">

                                        <p>Pending</p></a>
                                    </li>
                                </ul>


                            </nav>
                            <!-- /.sidebar-menu -->
                        </div>
                        <!-- /.sidebar -->
                    </aside>
                </div>
                <!-- Main Sidebar end -->

            </div>
<!--            right side ko content-->
            <div class="col-md-10">
                                      
                <div class="card-body">

                    <div class="tab-content">
                      
                        <!-- Servicing table -->
                        <div class="tab-pane active" id="all">

                            <div class="col-12">
<!--                            table of List of Taskd-->
                               <div class="card">
                                
              <div class="card-header">
               
                <h3 class="card-title">All Servicing</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                     
                      <th>CustumerName</th>
                      <th>Task</th>
                      <th>Contact Number</th>
                      <th>Status</th>
                      <th>Assigned By</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in task %}
                    <tr>
                      {% if i.taskaction == 'Completed' %} 
                      <td>{{i.custumername}}</td>
                      <td>{{i.task}}</td>
                      <td>{{i.phone}}</td>
                      <td><span class="badge bg-success"> {{i.taskaction}}</span></td>
                      <td>{{i.assignedby}}</td>
                      {% endif %}
                      

                      {% if i.taskaction == 'Pending' %} 
                      <td>{{i.custumername}}</td>
                      <td>{{i.task}}</td>
                      <td>{{i.phone}}</td>
                      <td><span class="badge bg-danger"> {{i.taskaction}}</span></td>
                      <td>{{i.assignedby}}</td>
                      {% endif %}
                     
                    </tr>
                 
                  </tbody>
                  {%endfor %}
                </table>
              </div>
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
                                <!-- /.end table -->
                            </div>
                        </div>
<!--                        Here is the Product Delivery-->
                        <div class="tab-pane" id="completed">

                             <div class="col-12">
<!--                            table of List of Taskd-->
                               <div class="card">
                                
              <div class="card-header">
               
                <h3 class="card-title">Completed Servicing</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                     
                      <th>CustumerName</th>
                      <th>Task</th>
                      <th>Contact Number</th>
                      <th>Status</th>
                      <th>Assigned By</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in task %}
                    <tr>
                     
                    
                      {% if i.taskaction == 'Completed' %} 
                      <td>{{i.custumername}}</td>
                      <td>{{i.task}}</td>
                      <td>{{i.phone}}</td>            
                      <td><span class="badge bg-success"> {{i.taskaction}}</span></td>                        
                      <td>{{i.assignedby}}</td>
                     {% endif %}
                    
                    
                     
                    </tr>
                 
                  </tbody>
                  {% endfor %}
                </table>
              </div>
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
                                <!-- /.end table -->
                            </div>
                        </div>
<!--                        Due Collection-->
                        <div class="tab-pane" id="pending">

                            <div class="col-12">
<!--                            table of List of Taskd-->
                               <div class="card">
                                
              <div class="card-header">
               
                <h3 class="card-title">Pending Servicing</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                     
                      <th>CustumerName</th>
                      <th>Task</th>
                      <th>Contact Number</th>
                      <th>Status</th>
                      <th>Assigned By</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in task %}
                    <tr>

                      {% if i.taskaction == 'Pending' %} 
                      <td>{{i.custumername}}</td>
                      <td>{{i.task}}</td>
                      <td>{{i.phone}}</td>            
                      <td><span class="badge bg-danger"> {{i.taskaction}}</span></td>                        
                      <td>{{i.assignedby}}</td>
                     {% endif %}
                     
                    </tr>
                 
                  </tbody>
                  {% endfor %}
                </table>
              </div>
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
                                <!-- /.end table -->
                            </div>
                        </div>
                    </div>
                 
                </div> 
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    </div>

</div>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
